html{
	position: relative;
	min-height: 100%;
}

body{
	background: #FFFFEE;
	margin-bottom: 60px;
}

.navbar .nav,
.navbar .nav > li{
	float:none;
	display:inline-block;
	*display:inline; /* ie7 fix */
	*zoom:1; /* hasLayout ie7 trigger */
	vertical-align: top;
}

.navbar-inner{
	text-align:right;
}

.navbar{
	background: #0099ff;
	min-height: 70px;
}

.navbar-brand{
	height: 60px;
	padding: 10px 10px 20px 20px;
}

.navbar-brand svg{
	margin-top: none;
	height:50px;
	width:220px;
}

.page-title {
	font-family:"Pacifico","Arial Narrow Bold",sans-serif;
	font-size: 4.5em;
}

.kwizzicowl-front{
	padding: 40px;
	color: black;
}

/*padding below kqizzicowl*/
#kwizzicowl-front{
	padding-bottom: 30px;
}

.footer{
	font-family:"News Cycle","Arial Narrow Bold",sans-serif;
	font-weight: bold;
}

.front-page-btn{
	white-space: normal;
	padding: 5%;
	font-size: 1.5em;
}

.form-button{
	white-space: normal;
	padding: 3%;
	font-size: 1.2em;
	margin-bottom: 20px;
}

/*quiz list page styling*/
.quiz-list-button {
	overflow: hidden;
	background-color: orange;
	color: white;
	margin-bottom: 20px;
}

.quizzes-heading{
	padding-bottom: 30px;
}

.btn{
	font-family:"News Cycle","Arial Narrow Bold",sans-serif;
	font-weight: bold;
	border-radius: 0;
	border-width: 2px;
	border-color: black;
	box-shadow: 5px 5px 5px #888888;
}

.btn:hover {
	color: black;
	border-width: 2px;
	border-color: black;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: all ease 0.2s;
	-o-transition: all ease 0.2s;
}

.quizButton{
	padding: 10%;
	font-size: 25px;
	margin-bottom: 20px;
	color: black;
	overflow: hidden;
	text-overflow: ellipsis;
}

.quizButton:hover {
	color: white;
}

/*keep the row a constant height even if no button displayed*/
#quiz-row{
	height: 60px;
	max-height: 60px;
}

#end-message{
	color: red;
}

.questionÇ{
	color: #575757;
}

#create-quiz-title{
	font-family:"Pacifico","Arial Narrow Bold",sans-serif;
	font-size: 3.6em;
}

/*styling for the create quiz form*/
.control-label{
	font-family:"News Cycle","Arial Narrow Bold",sans-serif;
	font-size: 1.5em;
	color: black;
}

::-webkit-input-placeholder {
	font-family:"News Cycle","Arial Narrow Bold",sans-serif;
	font-weight: bold;
}
:-moz-placeholder { /* older Firefox*/
	font-family:"News Cycle","Arial Narrow Bold",sans-serif;
	font-weight: bold;
}
::-moz-placeholder { /* Firefox 19+ */ 
	font-family:"News Cycle","Arial Narrow Bold",sans-serif;
	font-weight: bold;
} 
:-ms-input-placeholder { 
	font-family:"News Cycle","Arial Narrow Bold",sans-serif;
	font-weight: bold;
}

input{
	font-family:"News Cycle","Arial Narrow Bold",sans-serif;
	font-weight: bold;
}
.radio-inline{
	font-family:"News Cycle","Arial Narrow Bold",sans-serif;
	font-weight: bold;
	padding: 40px;
}


.smallQuizButton{
	font-size: 22px;
	margin-bottom: 10px;
}

.footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	display: table;
	table-layout: fixed;
	height: 60px;
	background: #0099ff;
}

.footer span{
	color:#fff;
	float:right;
	padding:20px 20px 0 0;
}

/*make sure footer scales properly*/
@media screen and (max-width: 568px){
	.footer span{
		font-size: 2.5vw;
		padding:20px 20px
	}
	.footer{
		height:30px;
	}
}

.vcenter{
	display: inline-block;
	vertical-align: middle;
	float: none;
}

.col-sm-0{
	width: 0;
	float: left;
	overflow: hidden;
	margin: 0;
	padding: 0;
	min-height: 1px;
}

.col-sm-3, .col-sm-6, .col-sm-2{
	-webkit-transition: all ease .3s;
	-moz-transition: all ease .3s;
	-o-transition: all ease .3s;
	transition: all ease .3s;
}
